<html lang="en">
<head>

     <title>Chronic Kidney Disease prediction</title>

         <!-- <link rel="stylesheet" href="css/tooplate-style.css">-->

</head>
<body>
     <form action="{{url_for('prediction')}}" method="POST">
     <!--<img src='C:\Users\kgaru\Desktop\ibm_chronic_kidney_disease\app_ibm\templates\images\slider5.jpeg' width="400" height="200" alt="Italian Trulli">-->

    <section id="home">
	  
          <div class="container">
               <div class="row">
                         <div class="owl-carousel owl-theme">
                              <div class="item item-first">
                                   <div class="caption">
                                        <div style="background-color:pink;text-align: center;">
                                   <h1>Chronic Kidney Disease</h1><h3>Machine Learning web app built with Flask</h3>
                              </div>
                              <div class="col-md-12 col-sm-12">
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">prediction</button>
					                    <!--<img id="test" src="images\slider5.jpeg" width="1400" height="650" alt="No image" />-->

                                   </div>
                              </div>

                                   </div>
                              </div>
                        </div>
               </div>
          </div>
</section>

    </body>
</html>
